title{
 text-align: scroll right to left;
}

body{
	background-image: url(http://i.imgur.com/sIrC9PR.jpg);
	color: #fff;
}
 
 li{
 	font-size: 30px; text-align: center;
 }

.jumbotron .container {
	text-align: center;

}
 h1{
  text-align: center;
 }

 


 h2{
 	text-align: center;
 }